.reactHooksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    font-weight: 400;
}

.reactHooksContainer>hr {
    width: 200px;
    border: 2px solid #4619fa;
}

.reactHooksDescription {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.reactHooksTitle {
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #4619fa;
    font-weight: 500;
}


.reactHooksEditor {
    display: none;
}



@media only screen and (min-width: 1200px) {

    .reactHooksEditor {
        display: flex;
    }   

}
